<link rel="stylesheet" href="/css/home.css">
<div>
	<h1>esports: Star Portal</h1>
</div>
<div id="para">
<p>
	My name is Orlando Rodriguez, <img src="/pictures/me.jpg"></img> and have been an avid Starcraft player and fan for the majority of my life. I've created this website to give the user an easy way to access
	Starcraft 2 content as well as Blizzard Ladder Data.

	The site is still in development with more great features to come in the future.
</p>
</div>
<div id='logo'>
<img src="/pictures/lotv-logo.png"></img>
</div>